{% extends 'home/base.html' %}

{% block title %}
contact
{% endblock %}

{% block name %}
Contact Us

{% endblock %}
{% block contactactive %} active {% endblock %}
{% block body %}
<div class="container">
    {% for message in messages %}
        
    <div class="alert alert-{{messages.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong>{{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    {% endfor %}
    <form action="/contact" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Contact No.</label>
            <input type="phone" class="form-control" name="phone" id="phone">
        </div>
        <div class="mb-3"> 
            <label for="content" class="form-label">Message for us</label>
            <textarea class="form-control" id="content" name="content" cols="50" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</div>
{% endblock %}