{% extends 'home/base.html' %}

{% block title %}
blogresult
{% endblock %}
{% block blogactive %} active {% endblock %}
{% block name %}
Blogs
{% endblock %}

{% block body %}
{% for post in allPosts %}
<div class="container my-3">
    <h2>Results are : </h2>
  <div class="card" >
    <img src="..." class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h7 class="card-title">-{{post.author}}</h5>
      <p class="card-text">{{post.content | truncatechars:150}}</p>
      <a href="{{post.slug}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}